*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  background-color: black;
}
